{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Editar {{ todo['description'] }}{% endblock %}</h1>
{% blockend %}

{% block content %}
    <form method="post">
        <fieldset>
            <label for="description">Descripción</label>
            <input type="text" name="description" id="description" value="{{ request.form['description'] or todo['description'] }}" required >
            <label for="completed">Completado</label>
            <input type="checkbox" name="completed" id="completed" {% if todo['completed'] == 1 %}checked{% endif %} >
        </fieldset>
        <fieldset>
            <input type="submit" value="Guardar">
        </fieldset>
    </form>
    <form action="{{ url_for('todo.delete', id=todo['id']) }}" method="post" >
        <input class="danger" type="submit" value="Eliminar" onclick="return confirm('Estás seguro de querer eliminar la tarea?')" >
    </form>
{% blockend %}